@import "tailwindcss";

:root {
  --color-background: #ffffff;
  --color-foreground: #0a0a0a;
}

/*  Chrome, Safari dan Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.logoSwiper .swiper-wrapper {
  transition-timing-function: linear !important;
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  animation: marquee 25s linear infinite;
  -webkit-animation: marquee 25s linear infinite;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  scroll-behavior: smooth;
  overflow-x: hidden; 
  font-family: satoshi;
  position: relative;
}

